
<style>
    .fade-carousel {
        position: relative;
        height: 50vh;
    }

        .fade-carousel .carousel-inner .item {
            height: 50vh;
        }

        .fade-carousel .carousel-indicators > li {
            margin: 0 2px;
            background-color: #f39c12;
            border-color: #f39c12;
            opacity: .7;
        }

            .fade-carousel .carousel-indicators > li.active {
                width: 10px;
                height: 10px;
                opacity: 1;
            }

    /********************************/
    /*          Hero Headers        */
    /********************************/
    .hero {
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 3;
        color: #fff;
        text-align: center;
        text-transform: uppercase;
        text-shadow: 1px 1px 0 rgba(0,0,0,.75);
        -webkit-transform: translate3d(-50%,-50%,0);
        -moz-transform: translate3d(-50%,-50%,0);
        -ms-transform: translate3d(-50%,-50%,0);
        -o-transform: translate3d(-50%,-50%,0);
        transform: translate3d(-50%,-50%,0);
    }

        .hero h1 {
            font-size: 6em;
            font-weight: bold;
            margin: 0;
            padding: 0;
        }

    .fade-carousel .carousel-inner .item .hero {
        opacity: 0;
        -webkit-transition: 2s all ease-in-out .1s;
        -moz-transition: 2s all ease-in-out .1s;
        -ms-transition: 2s all ease-in-out .1s;
        -o-transition: 2s all ease-in-out .1s;
        transition: 2s all ease-in-out .1s;
    }

    .fade-carousel .carousel-inner .item.active .hero {
        opacity: 1;
        -webkit-transition: 2s all ease-in-out .1s;
        -moz-transition: 2s all ease-in-out .1s;
        -ms-transition: 2s all ease-in-out .1s;
        -o-transition: 2s all ease-in-out .1s;
        transition: 2s all ease-in-out .1s;
    }

    /********************************/
    /*            Overlay           */
    /********************************/
    .overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 2;
        background-color: #080d15;
        opacity: .7;
    }

    /********************************/
    /*          Custom Buttons      */
    /********************************/
    .btn.btn-lg {
        padding: 10px 40px;
    }

    .btn.btn-hero,
    .btn.btn-hero:hover,
    .btn.btn-hero:focus {
        color: #f5f5f5;
        background-color: #1abc9c;
        border-color: #1abc9c;
        outline: none;
        margin: 20px auto;
    }

    /********************************/
    /*       Slides backgrounds     */
    /********************************/
    .fade-carousel .slides .slide-1,
    .fade-carousel .slides .slide-2,
    .fade-carousel .slides .slide-3,
    .fade-carousel .slides .slide-4 {
        height: 50vh;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
    }

    .fade-carousel .slides .slide-1 {
        /*background-image: url(https://ununsplash.imgix.net/photo-1416339134316-0e91dc9ded92?q=75&fm=jpg&s=883a422e10fc4149893984019f63c818);*/
        background-image: url(https://www.warmhaus.com.tr/Download/Images/kombi-dolabi-nasil-olmalidir_1536861971.jpg);
    }

    .fade-carousel .slides .slide-2 {
        background-image: url(https://images-ext-1.discordapp.net/external/cSG7y22uRgPRFpAzXnrYQQY1syhXXhwALND9_7Fi6Vk/https/www.maltepedesutesisatcisi.com/img/blog/maltepe-su-tesisatcisi-sihhi-tesisat-projelendirme-bakim-onarim.jpg);
    }

    .fade-carousel .slides .slide-3 {
        background-image: url(https://images-ext-1.discordapp.net/external/J6APrQEP_56w4d2m90pR0PvMlMUyziA3cBVJJdbR-Ys/https/onersistemmuhendislik.com/wp-content/uploads/2021/08/kazansistemleri.jpg);
    }

    .fade-carousel .slides .slide-4 {
        background-image: url(https://images-ext-2.discordapp.net/external/Dq71yYqNsTQvKxY7hPjPTfk0a9FU74yf_Xn8ZQWrabo/https/www.izmirtes.com/img/tesisatadair23.jpg?width=1440&height=504);
    }

    .bizkimiz {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 18px;
        font-weight: initial;
        font-style: italic;
    }

    #row2{
        margin-right:-266px;
    }
</style>
<link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="carousel fade-carousel slide" data-ride="carousel" data-interval="4000" id="bs-carousel">
    <!-- Overlay -->
    <div class="overlay"></div>

    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#bs-carousel" data-slide-to="0" class="active"></li>
        <li data-target="#bs-carousel" data-slide-to="1"></li>
        <li data-target="#bs-carousel" data-slide-to="2"></li>
        <li data-target="#bs-carousel" data-slide-to="3"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        <div class="item slides active">
            <div class="slide-1"></div>
            <div class="hero">
                <hgroup>
                    @*<h1>We are creative</h1>
                        <h3>Get start your next awesome project</h3>*@
                </hgroup>
                @*<button class="btn btn-hero btn-lg" role="button">See all features</button>*@
            </div>
        </div>
        <div class="item slides">
            <div class="slide-2"></div>
            <div class="hero">
                <hgroup>
                    @*<h1>We are smart</h1>
                        <h3>Get start your next awesome project</h3>*@
                </hgroup>
                @*<button class="btn btn-hero btn-lg" role="button">See all features</button>*@
            </div>
        </div>
        <div class="item slides">
            <div class="slide-3"></div>
            <div class="hero">
                <hgroup>
                    @*<h1>We are amazing</h1>
                        <h3>Get start your next awesome project</h3>*@
                </hgroup>
                @*<button class="btn btn-hero btn-lg" role="button">See all features</button>*@
            </div>
        </div>
        <div class="item slides">
            <div class="slide-4"></div>
            <div class="hero">
                <hgroup>
                    @*<h1>We are amazing</h1>
                        <h3>Get start your next awesome project</h3>*@
                </hgroup>
                @*<button class="btn btn-hero btn-lg" role="button">See all features</button>*@
            </div>
        </div>
    </div>
</div>
<div id="about" class="section md-padding">
    <div class="container">

        <div class="row">
            <div class="section-header text-center">
                <h2 class="title">Biz Kimiz?</h2>
            </div>

            <p class="bizkimiz">
                <b>``</b>08.05.2012 yılında kurulmuş olan firmamız, yenilenen yüzü uzman kadrosu ile Eksper Isıtma ve Soğuma Sistemleri  olarak Ankara ilinin tüm ilçelerine  hizmet vermekteyiz. Yüksek hizmet kalitemiz ve müşteri memnuniyeti ilkemizdir Eğitimli personelimiz ile bölgemizde kazan, kombi, klima, buhar kazanı, sıvı ve gaz yakıtlı üflemeli brülörler, kontrol sistemleri, pompa ve tesisat temizlik alanlarında uzman kadromuz ve geniş yedek parça ağımız ile hizmet vermektedir.

                Isıtma, sıcak su ve soğutma ihtiyaçlarınız için ekonomik, verimli ve uzun yıllar güvenle kullanabileceğiniz kombi, klima, şofben, termosifon, merkezi sistem kazan, merkezi sistem cihazları için Eksper Isıtma ve Soğuma Sistemleri yetkili servisimizden hizmet alabilirsiniz.<b>´´</b>
            </p>

            <div class="col-md-4">
                <div class="about">
                    <i class="fa fa-cogs"></i>
                    <h3>Isıtma ve Soğutma</h3>
                    <p>Maecenas tempus tellus eget condimentum rhoncus sem quam semper libero sit amet.</p>
                    <a href="#">Read more</a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="about">
                    <i class="fa fa-magic"></i>
                    <h3>Mekanik Tesisat</h3>
                    <p>Maecenas tempus tellus eget condimentum rhoncus sem quam semper libero sit amet.</p>
                    <a href="#">Read more</a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="about">
                    <i class="fa fa-mobile"></i>
                    <h3>Endüstriyel Sistemler</h3>
                    <p>Maecenas tempus tellus eget condimentum rhoncus sem quam semper libero sit amet.</p>
                    <a href="#">Read more</a>
                </div>
            </div>

        </div>

    </div>

</div>

<div id="contact" class="section md-padding">

    <div class="container">

        <div class="row">

            <div class="col-sm-4">
                <div class="contact">
                    @*<i class="fa fa-home" aria-hidden="true"></i>*@
                    <div class="header-wrapper">
                        <h3> <i class="fa fa-home" aria-hidden="true"></i> BAŞKENTGAZ</h3>
                        <p style="font-size:20px;font-style:italic;">Yetki No: &nbsp; 1203002116</p>
                    </div>
                    
                </div>
            </div>

            <div class="col-sm-4">
                <div class="contact">
                   
                </div>
            </div>

            <div class="col-sm-4">
                <div class="contact">
                    @*<i class="fa fa-home" aria-hidden="true"></i>*@
                    <h3><i class="fa fa-home" aria-hidden="true"></i> KIRGAZ</h3>
                    <p style="font-size:20px;font-style:italic;">Yetki No: &nbsp; 2018-FR-00079</p>
                </div>
            </div>

        </div>

    </div>

</div>

<!--<div id="service" class="section md-padding">-->
    <!-- Container -->
    <!--<div class="container">-->
        <!-- Row -->
        <!--<div class="row">-->
            <!-- Section header -->
            <!--<div class="section-header text-center">
            </div>-->
            <!-- /Section header -->
            <!-- service -->
            <!--<div class="col-md-4 col-sm-6">
                <div class="service">
                    <i class="fa fa-diamond"></i>
                    <h3>App Development</h3>
                    <p>Maecenas tempus tellus eget condimentum rhoncus sem quam semper libero.</p>
                </div>
            </div>-->
            <!-- /service -->
            <!-- service -->
            <!--<div class="col-md-4 col-sm-6">
                <div class="service">
                    <i class="fa fa-rocket"></i>
                    <h3>Graphic Design</h3>
                    <p>Maecenas tempus tellus eget condimentum rhoncus sem quam semper libero.</p>
                </div>
            </div>-->
            <!-- /service -->
            <!-- service -->
            <!--<div class="col-md-4 col-sm-6">
                <div class="service">
                    <i class="fa fa-cogs"></i>
                    <h3>Creative Idea</h3>
                    <p>Maecenas tempus tellus eget condimentum rhoncus sem quam semper libero.</p>
                </div>
            </div>-->
            <!-- /service -->
            <!-- service -->
            <!--<div class="col-md-4 col-sm-6">
                <div class="service">
                    <i class="fa fa-diamond"></i>
                    <h3>Marketing</h3>
                    <p>Maecenas tempus tellus eget condimentum rhoncus sem quam semper libero.</p>
                </div>
            </div>-->
            <!-- /service -->
            <!-- service -->
            <!--<div class="col-md-4 col-sm-6">
                <div class="service">
                    <i class="fa fa-pencil"></i>
                    <h3>Awesome Support</h3>
                    <p>Maecenas tempus tellus eget condimentum rhoncus sem quam semper libero.</p>
                </div>
            </div>-->
            <!-- /service -->
            <!-- service -->
            <!--<div class="col-md-4 col-sm-6">
                <div class="service">
                    <i class="fa fa-flask"></i>
                    <h3>Brand Design</h3>
                    <p>Maecenas tempus tellus eget condimentum rhoncus sem quam semper libero.</p>
                </div>
            </div>-->
            <!-- /service -->
        <!--</div>-->
        <!-- /Row -->
    <!--</div>-->
    <!-- /Container -->
<!--</div>-->
<!-- /Service -->
<!-- Why Choose Us -->
<!--<div id="features" class="section md-padding bg-grey">-->
<!-- Container -->
<!--<div class="container">-->
<!-- Row -->
<!--<div class="row">-->
<!-- why choose us content -->
<!--<div class="col-md-6">
    <div class="section-header">
        <h2 class="title">Why Choose Us</h2>
    </div>
    <p>Molestie at elementum eu facilisis sed odio. Scelerisque in dictum non consectetur a erat. Aliquam id diam maecenas ultricies mi eget mauris. Ultrices sagittis orci a scelerisque purus.</p>
    <div class="feature">
        <i class="fa fa-check"></i>
        <p>Quis varius quam quisque id diam vel quam elementum.</p>
    </div>
    <div class="feature">
        <i class="fa fa-check"></i>
        <p>Mauris augue neque gravida in fermentum.</p>
    </div>
    <div class="feature">
        <i class="fa fa-check"></i>
        <p>Orci phasellus egestas tellus rutrum.</p>
    </div>
    <div class="feature">
        <i class="fa fa-check"></i>
        <p>Nec feugiat nisl pretium fusce id velit ut tortor pretium.</p>
    </div>
</div>-->
<!-- /why choose us content -->
<!-- About slider -->
<!--<div class="col-md-6">
    <div id="about-slider" class="owl-carousel owl-theme">
        <img class="img-responsive" src="./img/about1.jpg" alt="">
        <img class="img-responsive" src="./img/about2.jpg" alt="">
        <img class="img-responsive" src="./img/about1.jpg" alt="">
        <img class="img-responsive" src="./img/about2.jpg" alt="">
    </div>
</div>-->
<!-- /About slider -->
<!--</div>-->
<!-- /Row -->
<!--</div>-->
<!-- /Container -->
<!--</div>-->
<!-- /Why Choose Us -->
<!-- Testimonial -->
<div id="testimonial" class="section md-padding">

    <!-- Background Image -->
    <div class="bg-img" style="background-image: url(https://images-ext-2.discordapp.net/external/wslU8pLL12XKED0374vKf2Z1PgWKUiKU2TlL-7NpC_E/https/e0.pxfuel.com/wallpapers/679/465/desktop-wallpaper-sunrise-sun-clouds-sky-height-widescreen-16-9-background.jpg);">
        <div class="overlay"></div>
    </div>
    <!-- /Background Image -->
    <!-- Container -->
    <div class="container">

        <div class="row" id="row2">
            <div class="col-md-12 col-md-offset-1">
                <div id="testimonial-slider" class="owl-carousel owl-theme">

                    <div class="testimonial">
                        <div class="testimonial-meta">
                            <img src="./img/perso1.jpg" alt="">
                            <h3 class="white-text">ARISTON</h3>
                            <span>ARISTON</span>
                        </div>
                        @*<p class="white-text">Molestie at elementum eu facilisis sed odio. Scelerisque in dictum non consectetur a erat. Aliquam id diam maecenas ultricies mi eget mauris.</p>*@
                    </div>
                    <div class="testimonial">
                        <div class="testimonial-meta">
                            <img src="./img/perso2.jpg" alt="">
                            <h3 class="white-text">E.C.A</h3>
                            <span>E.C.A</span>
                        </div>
                    </div>

                    <div class="testimonial">
                        <div class="testimonial-meta">
                            <img src="./img/perso2.jpg" alt="">
                            <h3 class="white-text">baymak</h3>
                            <span>baymak</span>

                        </div>
                    </div>

                    <div class="testimonial">
                        <div class="testimonial-meta">
                            <img src="./img/perso2.jpg" alt="">
                            <h3 class="white-text">VIESSMANN</h3>
                            <span>VIESSMANN</span>

                        </div>
                    </div>

                    <div class="testimonial">
                        <div class="testimonial-meta">
                            <img src="./img/perso2.jpg" alt="">
                            <h3 class="white-text">DAIKIN</h3>
                            <span>DAIKIN</span>

                        </div>
                    </div>

                    <div class="testimonial">
                        <div class="testimonial-meta">
                            <img src="./img/perso2.jpg" alt="">
                            <h3 class="white-text">DemirDöküm</h3>
                            <span>DemirDöküm</span>

                        </div>
                    </div>

                    <div class="testimonial">
                        <div class="testimonial-meta">
                            <img src="./img/perso2.jpg" alt="">
                            <h3 class="white-text">Vaillant</h3>
                            <span>Vaillant</span>

                        </div>
                    </div>

                    <div class="testimonial">
                        <div class="testimonial-meta">
                            <img src="./img/perso2.jpg" alt="">
                            <h3 class="white-text">Ferroli</h3>
                            <span>Ferroli</span>

                        </div>
                    </div>

                    <div class="testimonial">
                        <div class="testimonial-meta">
                            <img src="./img/perso2.jpg" alt="">
                            <h3 class="white-text">Buderus</h3>
                            <span>Buderus</span>

                        </div>
                    </div>

                    <div class="testimonial">
                        <div class="testimonial-meta">
                            <img src="./img/perso2.jpg" alt="">
                            <h3 class="white-text">BOSCH</h3>
                            <span>BOSCH</span>

                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>
