
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="contact" class="section md-padding">

    <div class="container">

        <div class="row">

            <div class="section-header text-center">
                <h2 class="title">İletişim Bilgileri</h2>
            </div>
            <div class="row">
                <div class="contact">
                    <div class="col-sm-4"></div>
                    <div class="col-sm-4">
                        <i class="fa fa-user" aria-hidden="true"></i>
                        <h3>Yetkili</h3>
                        <p>Çetin DELIBAL</p>
                        <p>0543 590 40 40</p>
                    </div>
                    <div class="col-sm-4"></div>
                </div>
                
            </div>
            <div class="col-sm-4">
                <div class="contact">
                    <i class="fa fa-home" aria-hidden="true"></i>
                    <h3>Merkez</h3>
                    <p>Kent Koop.Mh. 1859.Cd. No:4-B &nbsp; Batıkent / ANKARA</p>
                    <p>(0312) 252 52 18</p>
                    <p>info@teknomuhendislik.com</p>
                </div>
            </div>
           
            <div class="col-sm-4">
                <div class="contact">
                    <i class="fa fa-home" aria-hidden="true"></i>
                    <h3>Şube1</h3>
                    <p>Topçu Mh. 1544.Cd. No:180-A &nbsp; Etimesgut / ANKARA</p>
                    <p>(0312) 261 90 01</p>
                    <p>info@teknomuhendislik.com</p>
                </div>
            </div>
            
            <div class="col-sm-4">
                <div class="contact">
                    @*<i class="fa fa-map-marker"></i>*@
                    <i class="fa fa-home" aria-hidden="true"></i>
                    <h3>Şube2</h3>
                    <p>Çiftlikli Mh. 402.Sk. No:4 &nbsp; Kaman / KIRŞEHIR</p>
                    <p>(0386) 712 23 00</p>
                    <p>www.teknomuhendislik.com</p>
                </div>
            </div>
           
            <div class="col-md-8 col-md-offset-2">
                <form class="contact-form">
                    <input type="text" class="input" placeholder="AdSoyad">
                    <input type="email" class="input" placeholder="Mail Adres">
                    <input type="text" class="input" placeholder="Konu">
                    <textarea class="input" placeholder="Mesaj"></textarea>
                    <button class="main-btn">Gönder</button>
                </form>
            </div>
           
        </div>
       
    </div>

</div>
